{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container mt-4">
        <h1>Modifier l'Annonce</h1>
        <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Enregistrer les Modifications</button>
                    <a href="{% url 'profile' %}" class="btn btn-secondary">Annuler</a>
                </form>
            </div>
        </div>
    </div>
{% endblock %}